@model makit.makitCommerce.Domain.Models.PageModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/css")
        @RenderSection("css", required: false)
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        <div id="header">
            <img src="@Url.Content("~/Images/logo.png")" width="646" height="212" border="0" class="logo" alt="makitRS" />
            <div id="MiniBasketWrapper">
                <a href="@Url.Action("Index", "Basket")">
                    <strong>Shopping Basket</strong>
                    <div id="MiniBasket"><em>0 items</em><span>£0.00</span></div>
                </a>
            </div>
        </div>
         <div id="menu">
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
        <div id="body">
            <div id="sidebar">
                @if (Model.CategoryToDisplay != null)
                {
                    Html.RenderPartial("_CategoryListPartial", Model.CategoryToDisplay);
                }
            </div>
            <div id="main">
                @RenderBody()
                <br class="spacer" />
            </div>
            <br class="spacer" />
        </div>
        <div id="footer">
            <p>Powered by makitCommerce</p>
        </div>
        
        @RenderSection("scripts", required: false)
    </body>
</html>
